$focusColor: #88D5E9;
$submitColor: #3b5998;
$inputColor: #BEBEBE;

:local(.modal__home) {
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)';
}

:local .modal {
    font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
    &__header {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
    }
  
    &__divider {
      border-width: .5px;
      border-color: $inputColor;
    }
  
    &__form {
      margin: 10px auto;
      max-width: 400px;
  
      &__input {
        box-sizing: border-box;
        border: 1px solid $inputColor;
        padding: 7px;
        width: 97%;
        margin: 0;
        outline: none;
  
          &:focus {
            -moz-box-shadow: 0 0 8px $focusColor;
            -webkit-box-shadow: 0 0 8px $focusColor;
            box-shadow: 0 0 8px $focusColor;
            border: 1px solid $focusColor;
          }
      }
  
      &__label {
        font-size: .6rem;
        margin:0 0 3px 0;
        padding: 0;
        display: block;
        font-weight: bold;
  
        &__required {
          color: red;
        }
      }
  
      &__input__small {
        @extend .modal__form__input;
        width: 48%;
      }
  
      &__group {
        text-align: center;
        padding-top: 10px;
  
        &__submit {
          background: $submitColor;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: .25rem;
          color: white;
          padding: 6px 12px;
          cursor: pointer;
        }
      }
    }
  }