:local .header {

    &__root {
        flex-grow: 1;
    }

    &__title {
        flex: 1;    
    }
}

:local .fb__button {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #4c69ba;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4c69ba;
    padding: .6rem;
}

:local .lines {
    margin: 1rem;
    line-height: 0.5;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    span {
        display: inline-block;
        position: relative;  

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 0.1rem;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            top: 50%;
            width: 3rem;
        }

        &:before {
            right: 100%;
            margin-right: 2px;
        }

        &:after {
            left: 100%;
            margin-left: 2px;
        }
    }
  }

:local .log_in {
    font-style: italic;
    text-align: center;
    a {
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

:local .sign__up {
  font-style: italic;
  font-size: .5rem;

  a {
    font-weight: bold;
    font-size: .8rem;
    cursor: pointer;
  }
}