$focusColor: #88D5E9;
$submitColor: #3b5998;
$inputColor: #BEBEBE;
$errorColor: red;

@mixin auth-input($color) {
  box-sizing: border-box;
  border: 1px solid $inputColor;
  padding: .3rem;
  width: 97%;
  font-size: 1.2rem;
  margin: 0;
  outline: none;

    &:focus {
      -moz-box-shadow: 0 0 8px $color;
      -webkit-box-shadow: 0 0 8px;
      box-shadow: 0 0 8px $color;
      border: 1px solid $color;
    }
}

:local .dialog__title {
  text-align: center;
  font-size: 2rem;
}

:local .fb__button {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: #4c69ba;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4c69ba;
    padding: .6rem;
}

:local .lines {
    margin: 1rem;
    line-height: 0.5;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;

    span {
        display: inline-block;
        position: relative;  

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 0.1rem;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            top: 50%;
            width: 3rem;
        }

        &:before {
            right: 150%;
            margin-right: 2px;
        }

        &:after {
            left: 150%;
            margin-left: 2px;
        }
    }
  }

:local .log__in {
    font-style: italic;
    text-align: center;
    a {
        font-weight: bold;
        font-size: 2rem;
        cursor: pointer;
    }
}

:local .sign__up {
  font-style: italic;
  font-size: 1rem;

  a {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

:local .sign__in {
  text-align: center;
}

:local .modal {
    font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    &__back {
      float: left;
      cursor: pointer;
    }
    
    &__header {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    &__divider {
      border-width: .5px;
      border-color: $inputColor;
    }
  
    &__form {
      margin: .3rem auto;
      display: inline-block;
      width: 100%;

      &__input {
        @include auth-input($focusColor);
      }

      &__input__error {
        @include auth-input($errorColor);
      }
  
      &__label {
        font-size: 1rem;
        margin:0 0 3px 0;
        padding: 0;
        display: block;
        font-weight: bold;
  
        &__required {
          color: $errorColor;
        }
      }

      &__error {
        position: relative;
        overflow: hidden;
        max-width: 95%;
        min-height: 1rem;

        &__message {
          position: absolute;
          font-size: .6rem;
          color: $errorColor;
          white-space: nowrap;

          &__hidden {
            display: none;
          }
        }
      }
      
  
      &__input__small {
        @extend .modal__form__input;
        width: 48%;
      }
  
      &__group {
        text-align: center;
        padding-top: 10px;
  
        &__submit {
          background: $submitColor;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: .25rem;
          color: white;
          font-size: 1.2rem;
          padding: 6px 12px;
          cursor: pointer;
          
          &:disabled {
            opacity: .6;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    :local .modal {
      &__form {
        &__error {
          &__message {
            font-size: .4rem;
          }
        }
      }
    }
}